body{
    height: 150vh;
}

/* FORMATAÇÃO DO MENU */
section#catalogo{
    background-color: #C4C4C4;
    width: 900px;
    height: 150vh;
    margin-left: 190px;
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
}
h2#tituloCatalogo{
    background-color: #fff;
    border-radius: 20px;
    border: solid 1px #b3b3b3;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 280px;
    width: 350px;
    height: 40px;
    padding: 5px;
    text-align: center;
}
p#introCatalogo{
    margin-top: 40px;
    margin-left: 140px;
    padding: 10px;
}
/* FORMATAÇÃO DA SEÇÃO DE DESCRIÇÃO DO EQUIPAMENTO */
div#descricaoEquipamento{
    margin-top: 40px;
    margin-left: 120px;
    padding: 10px;
    width: 666px;
    height: 250px;
    background-color: #fff;
    border: solid 1px #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
}
img#imgEquipamento{
    margin-top: 40px;
    margin-left: 80px;
    width: 150px;
    height: 150px;
    border: solid 1px #fff;
    box-sizing: border-box;
    border-radius: 20px;
}
ul#itensDescricao{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    text-decoration: none;
}
button#btnAlugar{
    display: inline-block;
    margin-left: 400px;
    padding: 10px;
    width: 220px;
    height: 40px;
    background-color: #027900;
    color: #fff;
    font-weight: bolder;
}