section#usuario{
    background-color: #c4c4c4;
    width: 900px;
    height: 200vh;
    margin-left: 190px;
    margin-top: 50px;
    margin-bottom: -30px;
    border-radius: 10px;
    padding: 10px;
}
/* TÍTULOS DA PÁGINA */
h2{
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #b3b3b3;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    text-align: center;
}
h2#tituloEquipamentosEmprestados{
    width: 280px;
    margin-top: 50px;
    margin-left: 36%;
}
h2#tituloReservas{
    width: 200px;
    margin-top: 50px;
    margin-left: 40%;
}
h2#tituloPendencias{
    width: 200px;
    margin-top: 50px;
    margin-left: 40%;
}

#observacao{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

/* FRAMES DA PÁGINA */
iframe{
    height: 190px;
    border: solid 0.5px #c4c4c4;
    border-radius: 5px;
    overflow-x: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
iframe#framePendencias{
    width: 610Px;
    margin-left: 150px;
}
iframe#frameEquipamentosAtivos{
    width: 660px;
    margin-left: 130px;
}
iframe#frameReservas{
    width: 510px;
    margin-left: 190px;
}

/* FORMATAÇÃO DO RODAPÉ */
footer.rodape{
    margin-top: 20vh;
    padding: 50px;
    background-color: #0b001d;
    color: #ffffff;
    text-align: center;
    width: 100%;
}