*{margin:0;padding: 0;box-sizing: border-box;}

body{
    background-color: white;
}

form{
    margin-top: 60px;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #E1E1E1;
    border-radius: 20px;
    text-align: center;
}

h1#tituloLogin{
    margin-top: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

button{
    width: 100px;
    height: 35px;
    background: #FFF5F5;
    border: 1px solid rgba(0, 0, 0, 0.29);
    box-sizing: border-box;
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 18px;
    margin-top: 10px;
}

fieldset#fieldLogin{
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
}

fieldset#fieldSenha{
    font-size: 18px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.radio{
    margin-top: 5px;
    margin-bottom: 5px;
}

fieldset#fieldRadio{
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
    height: 65px;
    margin-top: 25px;
}

input#inputLogin, input#inputSenha{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 22px;
}

input#nadm, input#nuser, input#nfum, input#nchefe{
    margin-right: 25px;
    margin-left: 0px;
}

div#cabecalho{
    width: 1366px;
    height: 124px;
    background: #310F69;
    align-items: center;
}

div#menu{
    width: 1366px;
    padding: 10px;
    background: #3A89FF;
}

h2#titulo{
    padding: 45px;
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
    
}

input#btnHome{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

input#btnCtg{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

input#btnCtt{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

input#pesquisa{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin-left: 420px;
    font-size: 18px;
    color: #9E9E9E;
}

